NodeRED Flow/测试用的 Flow.json
[{"id":"d5815d603196ecfa","type":"subflow","name":"Send to Meshtastic ","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"1f055daffb6a3b70"}]}],"out":[],"env":[{"name":"channel","type":"str","value":"0"}],"meta":{},"color":"#DDAA99","status":{"x":760,"y":300,"wires":[{"id":"b757c4c945a49a4d","port":1}]}},{"id":"a83540e1e48d7671","type":"websocket out","z":"d5815d603196ecfa","name":"Meshtastic 发送","server":"","client":"54b8ec426a1f5b7d","x":560,"y":220,"wires":[]},{"id":"1f055daffb6a3b70","type":"function","z":"d5815d603196ecfa","name":"格式化发送消息","func":"// 检查是否有目标信息\n// if (!msg.mshParams) {\n//     node.error(\"缺少目标信息\");\n//     return null;\n// }\n\n\n// 构造发送消息\nconst outMsg = {\n    payload: {\n        message: JSON.stringify(msg.payload)\n    }\n};\n\n// 添加目标信息\n// if (msg.mshParams.channel !== undefined) {\n//     outMsg.payload.channel = msg.mshParams.channel;\n// } else if (msg.mshParams.destination) {\n//     outMsg.payload.destination = msg.mshParams.destination;\n// } else {\noutMsg.payload.channel = 0;  // 默认频道\n// }\n\nreturn outMsg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["a83540e1e48d7671"]]},{"id":"046b903a57596bba","type":"websocket in","z":"d5815d603196ecfa","name":"Meshtastic 接收","server":"","client":"54b8ec426a1f5b7d","x":320,"y":320,"wires":[["b757c4c945a49a4d"]]},{"id":"b757c4c945a49a4d","type":"function","z":"d5815d603196ecfa","name":"statusMsg","func":"var payload = msg.payload;\n\n// 创建一个状态消息\nvar statusMsg = { payload: {} };\n\nif (payload.type === \"success\") {\n    statusMsg.payload = { fill: \"green\", shape: \"dot\", text: \"操作成功\" };\n} else if (payload.type === \"error\") {\n    statusMsg.payload = { fill: \"red\", shape: \"dot\", text: \"操作失败\" };\n// } \n// else if (payload.type === \"warning\") {\n//     statusMsg.payload = { fill: \"yellow\", shape: \"dot\", text: \"警告\" };\n// } else if (payload.type === \"info\") {\n//     statusMsg.payload = { fill: \"blue\", shape: \"dot\", text: \"信息\" };\n} else {\n    // statusMsg.payload = { fill: \"grey\", shape: \"ring\", text: \"\" };\n    statusMsg = null;\n}\n\n// 返回两个输出：原始消息和状态消息\nreturn [msg, statusMsg];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":320,"wires":[[],[]]},{"id":"54b8ec426a1f5b7d","type":"websocket-client","path":"ws://host.docker.internal:5800","tls":"","wholemsg":"false","hb":"0","subprotocol":"","headers":[]},{"id":"42a53fc037ea9725","type":"tab","label":"其它待清理节点","disabled":false,"info":"","env":[]},{"id":"7ee0f04beb083837","type":"group","z":"42a53fc037ea9725","name":"变频器控制 临时控制","style":{"label":true},"nodes":["6935ba77bb6bb107","132e3df3d8f051ac","8bdab2f3479be9fc","6b99d29a38f65929","15eb8d32839baba3","61b27bb5648cb476","af081844c2e13858","552b0a1e2a4af1fd"],"x":74,"y":59,"w":772,"h":282},{"id":"b8a12e4a1129a26a","type":"group","z":"42a53fc037ea9725","name":"变频器控制 临时控制 TEST For 0999","style":{"label":true},"nodes":["f32f6354520773a6","574061d20cd5beb6","70c74dcf6a607b11","6a9648dc41ffe8e1","8b4acbe71452f83e","197c83e8dbef8d47","e70f73586a8fce59","259523330a7b3000","e58879c263402ab4","566fa9630973e805","b2136537ea9d40f2","3592a9f5d6d93315","18e8529a71d0ccbc","6b943febc62fe73d","fa5ca4c261461a1e"],"x":114,"y":379,"w":712,"h":562},{"id":"6935ba77bb6bb107","type":"inject","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"02:00 点触发 减速停机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":6},\"ss\":1742187085902}","payloadType":"json","x":250,"y":200,"wires":[["132e3df3d8f051ac"]]},{"id":"132e3df3d8f051ac","type":"change","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"","rules":[{"t":"set","p":"payload.ss","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["6b99d29a38f65929","552b0a1e2a4af1fd"]]},{"id":"8bdab2f3479be9fc","type":"inject","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"9 点触发 正转开机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":1},\"ss\":1742187085902}","payloadType":"json","x":250,"y":240,"wires":[["132e3df3d8f051ac"]]},{"id":"6b99d29a38f65929","type":"debug","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":160,"wires":[]},{"id":"15eb8d32839baba3","type":"inject","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"二楼花园油烟机变频器15KW 3000 状态读取","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"i\":\"0003\",\"t\":\"r\",\"v\":\"1\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":3,\"r\":\"0x3000\",\"n\":1},\"ss\":1742187085902}","payloadType":"json","x":290,"y":300,"wires":[["132e3df3d8f051ac"]]},{"id":"61b27bb5648cb476","type":"inject","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"13:30 点触发 减速停机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 13 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":6},\"ss\":1742187085902}","payloadType":"json","x":250,"y":100,"wires":[["132e3df3d8f051ac"]]},{"id":"af081844c2e13858","type":"inject","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"14:30 点触发 正转开机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 14 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":1},\"ss\":1742187085902}","payloadType":"json","x":250,"y":140,"wires":[["132e3df3d8f051ac"]]},{"id":"f32f6354520773a6","type":"inject","z":"42a53fc037ea9725","d":true,"g":"b8a12e4a1129a26a","name":"02:00 点触发 减速停机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":6},\"ss\":1742187085902}","payloadType":"json","x":290,"y":520,"wires":[["574061d20cd5beb6"]]},{"id":"574061d20cd5beb6","type":"change","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"","rules":[{"t":"set","p":"payload.ss","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.i","pt":"msg","to":"0003","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["6a9648dc41ffe8e1","259523330a7b3000"]]},{"id":"70c74dcf6a607b11","type":"inject","z":"42a53fc037ea9725","d":true,"g":"b8a12e4a1129a26a","name":"9 点触发 正转开机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0\",\"n\":1,\"d\":1},\"ss\":1742187085902}","payloadType":"json","x":290,"y":560,"wires":[["574061d20cd5beb6"]]},{"id":"6a9648dc41ffe8e1","type":"debug","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":480,"wires":[]},{"id":"8b4acbe71452f83e","type":"inject","z":"42a53fc037ea9725","d":true,"g":"b8a12e4a1129a26a","name":"二楼花园油烟机变频器15KW 3000 状态读取","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"i\":\"0003\",\"t\":\"r\",\"v\":\"1\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":3,\"r\":\"0x3000\",\"n\":1},\"ss\":1742187085902}","payloadType":"json","x":330,"y":620,"wires":[["574061d20cd5beb6"]]},{"id":"197c83e8dbef8d47","type":"inject","z":"42a53fc037ea9725","d":true,"g":"b8a12e4a1129a26a","name":"13:30 点触发 减速停机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 13 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":6},\"ss\":1742187085902}","payloadType":"json","x":290,"y":420,"wires":[["574061d20cd5beb6"]]},{"id":"e70f73586a8fce59","type":"inject","z":"42a53fc037ea9725","d":true,"g":"b8a12e4a1129a26a","name":"14:30 点触发 正转开机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 14 * * *","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"FC\",\"v\":\"1\",\"t\":\"r\",\"p\":\"3\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x2000\",\"n\":1,\"d\":1},\"ss\":1742187085902}","payloadType":"json","x":290,"y":460,"wires":[["574061d20cd5beb6"]]},{"id":"552b0a1e2a4af1fd","type":"subflow:d5815d603196ecfa","z":"42a53fc037ea9725","g":"7ee0f04beb083837","name":"","x":730,"y":220,"wires":[]},{"id":"259523330a7b3000","type":"subflow:d5815d603196ecfa","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"","x":710,"y":540,"wires":[]},{"id":"e58879c263402ab4","type":"inject","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"控制 smart meter 0203 分闸","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"meter_1\",\"v\":\"1\",\"t\":\"r\",\"p\":\"1\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x0203\",\"n\":1,\"d\":[16]},\"ss\":1742187085902}","payloadType":"json","x":320,"y":780,"wires":[["574061d20cd5beb6"]]},{"id":"18e8529a71d0ccbc","type":"inject","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":680,"wires":[["b2136537ea9d40f2"]]},{"id":"b2136537ea9d40f2","type":"function","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"function 72","func":"// 获取当前时区\nconst timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;\n\n// 创建消息对象\nmsg.payload = {\n    timeZone: timeZone,\n    currentTime: new Date().toLocaleString(\"zh-CN\", { timeZone: timeZone })\n};\n\n// 返回消息对象\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":680,"wires":[["566fa9630973e805"]]},{"id":"566fa9630973e805","type":"debug","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"debug 65","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":680,"wires":[]},{"id":"3592a9f5d6d93315","type":"inject","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"读取 smart meter 0203","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"meter_1\",\"v\":\"1\",\"t\":\"r\",\"p\":\"1\",\"c\":{\"a\":1,\"f\":3,\"r\":\"0x0203\",\"n\":1},\"ss\":1742187085902}","payloadType":"json","x":320,"y":840,"wires":[["574061d20cd5beb6"]]},{"id":"6b943febc62fe73d","type":"inject","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"控制 smart meter 0203 合闸","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0003\",\"tp\":\"meter_1\",\"v\":\"1\",\"t\":\"r\",\"p\":\"1\",\"c\":{\"a\":1,\"f\":6,\"r\":\"0x0203\",\"n\":1,\"d\":[8]},\"ss\":1742187085902}","payloadType":"json","x":280,"y":720,"wires":[["574061d20cd5beb6"]]},{"id":"c66826d28f2d402a","type":"inject","z":"42a53fc037ea9725","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1020,"wires":[["f342d0b1aefae269"]]},{"id":"fb488c98152e0f0c","type":"debug","z":"42a53fc037ea9725","name":"debug 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1100,"wires":[]},{"id":"f342d0b1aefae269","type":"postgresql","z":"42a53fc037ea9725","name":"","query":"SELECT \n    d.device_type,\n    d.device_id,\n    p.property_id,\n    p.read_values,\n    p.status as property_status,\n    p.request_type,\n    p.scale_factor,\n    p.value_offset,\n    p.data_length  -- 添加data_length字段\nFROM devices d\nJOIN device_properties p ON d.device_id = p.device_id\nWHERE p.request_type = 'state'\nAND EXISTS (\n    SELECT 1 \n    FROM device_properties p2 \n    WHERE p2.device_id = d.device_id \n    AND p2.status = 'success'\n)\nORDER BY device_id;","postgreSQLConfig":"25494a265d23d390","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":1060,"wires":[["fb488c98152e0f0c"]]},{"id":"fa5ca4c261461a1e","type":"inject","z":"42a53fc037ea9725","g":"b8a12e4a1129a26a","name":"0006","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"i\":\"0006\",\"v\":\"1\",\"t\":\"r\",\"p\":\"1\",\"c\":{\"a\":42,\"f\":3,\"r\":\"0x001D\",\"n\":1},\"ss\":\"1743566031678_0\"}","payloadType":"json","x":290,"y":900,"wires":[["259523330a7b3000","6a9648dc41ffe8e1"]]},{"id":"25494a265d23d390","type":"postgreSQLConfig","name":"","host":"host.docker.internal","hostFieldType":"str","port":"5432","portFieldType":"num","database":"modbus_device","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"livelab","userFieldType":"str","password":"livelab","passwordFieldType":"str"}]